html{
    height: 100%;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom, #858c90, #bbb);
    background-size: no-repeat;
    background-attachment: fixed;
}

div.trello-list{
    display: inline-block;
    width: 300px;
    background-color: ddd;
    border-radius: 2px 3px;
}

div.trello-list h2{
    margin: 8px;
    font-size: 1rem;
    font-weight: bold;
}
div.trello-list ol{
    margin: 0;
    padding: 0;
}

div.trello-list li{
    list-style: none;
    background-color: rgb(255,255,255);
    font-size: 0.9rem;
    border-radius: 1px;
    margin-bottom: 10px;
    padding: 8px;
}

div.trello-list li :hover{
    background-color: #f5f6f7;
    color: #092d42;
}

div.trello-list li:last-child{
    margin-bottom: 0px;
}

div.trello-list a {
    display: block;
    text-decoration: none;
    color:#092d42;
    padding: 8px 0px 8px 5px;
    font-size: 0.85rem;
}

div.trello-list{
    margin-right: 10px;
    vertical-align: top;
}
body{
    white-space: nowrap;
}

div.trello-list li{
    white-space: normal;
}

header > h1, header > p{
    display: inline-block;
    height: 20px;
    padding-right: 20px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

header > h1{
    text-transform: uppercase;
    font-size: 1.1rem;
}
header > p{
    font-size: 0.9rem;
    padding-left: 5px;
}

.labels span {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 8px;
    border-radius: 3px;
}

.label.pathway {
    background-color: red;
}

.label.individual{
    background-color: green;
}

.label.pair {
    background-color: aqua;
}

.label.general{
    background-color: orange;
}

header{
    position: fixed;
    top: 0;
    height: 50px;
}
main{
    margin: 50px;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #bbb;
}
body::-webkit-scrollbar-thumb{
    background-color: #888;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}